@model ONLINEVS_Project.Models.Voter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.votercnic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.votercnic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.c_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.c_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.voterid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
